/*
 * Main Stylesheet
 */

/* Fonts */
@import '//fonts.googleapis.com/css?family=Lato:100,300,400,700';
@import '//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css';

body {
  font: normal 300 14px/1.7 'Lato', sans-serif;
  padding: 0;
  margin: 0;
}

.site {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 24rem 1fr;
    grid-template-areas: 
        ". logo ."
        ". list .";
    background-color: #2c3e50;
    min-height: 100vh;
    min-width: 24rem;
    
}


.info {
    display: grid;
    grid-area: logo;
    grid-template-rows: 1fr 12rem 4rem 1fr;
}

.list {
    grid-area: list;
    margin: 2rem;
    padding: 0;
}

h1 {
    grid-row: 3;
    text-align: center;
    color:#ecf0f1;
    font-size: 2rem;
    line-height: 2rem;
    font-weight:300;
    margin-top: 2rem;
    margin-bottom: 0;
    margin-bottom: 0;
}

.logo {
    grid-row: 2;
    width: 18rem;
    height: 12rem;
    margin-left: auto;
    margin-right: auto;

    background: url('../images/Logo_flat.svg') no-repeat;
}

.list li {
    list-style-type: none;
    height: 3rem;
    font-size: 1.2rem;
    line-height: 3rem;
    margin-bottom: 2rem;
}

.list li:last-of-type {
    margin-bottom: 0;
}

.list a {
    display: block;
    font-weight: 300;
    
    text-decoration: none;
    background-color: #34495e;
    color:#ecf0f1;
    border-radius: 3rem;
    border-color: transparent;
    border-style: solid;
    border-width: 1px;
    transition-duration: 0.3s;
}

.list a:hover,
.list a:focus,
.list a:active{
    color: #e74c3c;
    border-color: #e74c3c;
}

.list i {
    margin-left:  30%;
}

.list span {
    margin-left: 2rem;
}


.site.contact {
    grid-template-rows: 1fr auto 1fr;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: 
        ". . ."
        ". form ."
        ". . .";
}

.contact .container{
    grid-area: form;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    box-sizing: border-box;
    min-width: 24rem;
    max-width: 48rem;
}

.contact h1{
    margin-top: 0;
    margin-bottom: 2rem;
}

.contact form {
    text-align: right
}

.contact input,
.contact textarea {
    width: 100%;
    font: inherit ;
    font-size: 1rem;
    background-color: #34495e;
    color: #ecf0f1;
    border-style: none;
    margin-bottom: 1rem;
    padding: 0.25rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    box-sizing: border-box;
}

::placeholder {
    color:#bdc3c7;
}


.contact textarea {
    height: 16rem;
    margin-bottom: 2rem;
}

.contact button,
.contact a.button {
    width: 8rem;
    padding: 0;
    font: inherit;
    font-size: 1rem;
    line-height: 2rem;
    font-weight: 300;
    background-color: #e74c3c;
    color: #ecf0f1;
    border-color: transparent;
    border-style: solid;
    border-width: 1px;
    border-radius: 3em;
    transition-duration: 0.3s;
    cursor: pointer;
    
}

.contact button:hover,
.contact button:focus,
.contact button:active,
.contact a.button:hover,
.contact a.button:focus,
.contact a.button:active{
    background-color: #34495e;
    border-color: #e74c3c;
    color: #e74c3c;
}

.contact a.button {
    float: left;
    text-align: center;
    text-decoration: none;
    background-color: #34495e;
}

@media screen and (orientation: landscape) and (min-width: 40rem) {
    
    .site.main{
        grid-template-rows: 1fr 24rem 1fr;
        grid-template-columns: 1fr 20rem 1fr 20rem 1fr;
        grid-template-areas: 
            ". . . . ."
            ". logo . list ."
            ". . . . .";
    }
    
}

@media screen and (orientation: landscape) and (min-width: 64rem) {
    .site.main{
        grid-template-columns: 1fr 24rem 5% 24rem 1fr;
    }
    .info {
        grid-template-rows: 1fr 16rem 4rem 1fr;
    }
    
    .logo {
        width:24rem;
        height:16rem;
    }
}
