/*
 * Main Stylesheet
 */

/* Fonts */
@import '//fonts.googleapis.com/css?family=Lato:100,300,400,700';
@import '//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css';

body {
  font: normal 300 14px/1.7 'Lato', sans-serif;
  padding: 0;
  margin: 0;
}

.site {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 24rem 1fr;
    grid-template-areas: 
        ". logo ."
        ". list .";
    background-color: #2c3e50;
    min-height: 100vh;
    min-width: 24rem;
    
}


.info {
    display: grid;
    grid-area: logo;
    grid-template-rows: 1fr 12rem 4rem 1fr;
}

.list {
    grid-area: list;
    margin: 3rem;
    padding: 0;
}

h1 {
    grid-row: 3;
    text-align: center;
    color:#ecf0f1;
    font-size: 2rem;
    line-height: 2rem;
    font-weight:300;
    margin-top: 2rem;
    margin-bottom: 0;
    margin-bottom: 0;
}
.logo {
    grid-row: 2;
    width: 18rem;
    height: 12rem;
    margin-left: auto;
    margin-right: auto;

    background: url('../images/Logo_flat.svg') no-repeat;
}

.list li {
    list-style-type: none;
    height: 3rem;
    font-size: 1.2rem;
    line-height: 3rem;
    margin-bottom: 2rem;
}

.list li:last-of-type {
    margin-bottom: 0;
}

.list a {
    display: block;
    font-weight: 300;
    
    text-decoration: none;
    background-color: #34495e;
    color:#ecf0f1;
    border-radius: 3rem;
    border-color: transparent;
    border-style: solid;
    border-width: 1px;
}

.list a:hover {
    color: #e74c3c;
    border-color: #e74c3c;
}

.list i {
    margin-left:  30%;
}

.list span {
    margin-left: 2rem;
}


.site.contact {
    grid-template-rows: 1fr 24rem 1fr;
    grid-template-areas: 
        ". . ."
        ". form ."
        ". . .";
}

.contact .container{
    grid-area: form;
}

.contact h1{
    margin-top: 0;
    margin-bottom: 2rem;
}

.contact form {
    text-align: right
}

.contact input,
.contact textarea {
    width: 100%;
    font: inherit ;
    font-size: 1rem;
    background-color: #34495e;
    color: #ecf0f1;
    border-style: none;
    margin-bottom: 1rem;
    padding: 0.25rem;
}

::placeholder {
    color:#bdc3c7;
}
.contact input {
    line-height: 3;
}

.contact textarea {
    height: 12rem;
    line-height: 2;
    margin-bottom: 2rem;
}

.contact button {
    width: 8rem;
    padding: 0;
    font-size: 1.2rem;
    line-height: 3rem;
    font-weight: 300;
    background-color: #e74c3c;
    color: #ecf0f1;
    border-style: none;
    border-radius: 3em;
    
}

.contact button:hover {
    background-color: #34495e;
    color: #e74c3c;
}

@media screen and (min-width: 72rem) {
    
    .site.main{
        grid-template-rows: 1fr 24rem 1fr;
        grid-template-columns: 1fr 24rem 5% 24rem 1fr;
        grid-template-areas: 
            ". . . . ."
            ". logo . list ."
            ". . . . .";
    }
    .info {
        grid-template-rows: 1fr 16rem 4rem 1fr;
    }
    .logo {
        width:24rem;
        height:16rem;
    }
}

@media screen and (min-width: 96rem) {
    
}
