/*
 * Main Stylesheet
 */

/* Fonts */
@import '//fonts.googleapis.com/css?family=Lato:100,300,400,700';
@import '//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css';

body {
  font: normal 400 14px/1.7 'Lato', sans-serif;
  padding: 0;
  margin: 0;
}

.main {
    background-color: #333333;
    height: 100vh;
}

.site {
    display: grid;
    grid-template-rows: 40px 1fr 1fr 40px;
    grid-template-columns: 20px 1fr 1fr 20px;
    grid-template-areas: 
        "header header header header"
        "sidebar logo logo sidebar"
        "sidebar main main sidebar"
        "footer footer footer footer";
    background-color: #333333;
    height: 100vh;
    
}

.info {
    grid-column: 2 / 4;
    grid-row: 2 /3;
}

.list {
    grid-column: 2 /4;
    grid-row: 3/4;
}

h1 {
    text-align: center;
    color:#ffffff;
    font-weight:300;
}
.circle {
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100%;
    background: url('../images/Logo.svg') no-repeat;
}

.list li {
    display: block;
    height: 2.5em;
    font-size: 1.5em;
    line-height: 2.5em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    border-radius: 3rem;
    background-color: #999999;
}

.list a {
    color:#ffffff;
    font-weight: 300;
    text-decoration: none;
}
.list i {
    padding-left:  1em;
    padding-right: 1em;
}

.list span {
    
}

.container {
    width:70%;
    max-width: 500px;
    height:100%;
    margin-left: auto;
    margin-right: auto;
}
